@model Tuhui.Reception.Model.tv_log
@{
    ViewBag.Title = "LogAdd";
    var LogTypeSelectList = new List<SelectListItem>()
        {
            new SelectListItem{Text = "交通局视频",Value ="10"},            
            new SelectListItem{Text = "320云创视频",Value ="20"}           
        };
}

<div class="layout-content-head">
    <h2>@ViewBag.TitleName</h2>
</div>
<div style="text-align:left;margin-left:50px;">
    @using(Html.BeginForm("LogModify","Manager")){
        @Html.HiddenFor(p => p.logid)
        <div class="edit-area">
            <div class="edit-lable">日志类型:</div>
            <div class="edit-content">
               @Html.DropDownListFor(p=>p.logtype,LogTypeSelectList)
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">日志内容:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p=>p.logcontent)
            </div>
        </div>
        <div class ="edit-area">
            <div class="edit-lable"></div>
            <div class="edit-content">
                <input style="margin-left: 500px; width: 70px;height: 30px;" type="submit" value="保存"/>
                <input type="button" value="返回" style="width: 70px;height: 30px;" onclick="BackToLogList()"/>
            </div>    
         </div>
    }

</div>
<iframe style="position: absolute; right: 10px; top: 50px; height: 320px; width: 630px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,.5); " src="@Url.Action("JTMap","Manager")"></iframe>

<script type="text/javascript">
    function BackToLogList() {
        window.location.href = '@Url.Action("LogList","Manager")';
    }
</script>
