@model Tuhui.Reception.Model.tv_video
@{
    ViewBag.Title = "VideoAdd";
    var videostatusSelectList = new List<SelectListItem>()
        {
            new SelectListItem{Text = "正常",Value ="1"},            
            new SelectListItem{Text = "故障",Value ="0"}           
        };
    var EnableSelectList = new List<SelectListItem>()
        {   
            new SelectListItem{Text = "开启",Value ="1"},            
            new SelectListItem{Text = "关闭",Value ="2"} 
        };
    var VideoSourceSelectList = new List<SelectListItem>()
        {   
            new SelectListItem{Text = "交通局视频",Value ="10"},            
            new SelectListItem{Text = "320视频",Value ="20"},
            new SelectListItem{Text = "省厅视频",Value ="30"}
 
        };
}

<style>
    .edit-content textarea {
        width: 300px;
        height: 100px;
    }
</style>
<div class="layout-content-head">
    <h2>@ViewBag.TitleName</h2>
</div>

<div style="text-align:left;margin-left:50px;">
    @using(Html.BeginForm("VideoModify","Manager")){

        @Html.HiddenFor(p => p.videoid)
       @* @Html.HiddenFor(p => p.createby)
        @Html.HiddenFor(p => p.createtime)
        @Html.HiddenFor(p => p.updateby)
        @Html.HiddenFor(p=> p.updatetime)*@
        <div class="edit-area">
            <div class="edit-lable">视频类型:</div>
            <div class="edit-content">
                @Html.DropDownListFor(p=>p.videosource,VideoSourceSelectList)  
                @*<select style="width:160px;" id="videosource" name="videosource">
                    <option value="10">交通局视频</option>
                    <option value="20">320视频</option>
                    <option value="30">省厅视频</option>
                </select>*@
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">视频名称:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p=>p.videoname)
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">经度：</div>
            <div class="edit-content">
                @Html.TextBoxFor(p=>p.videolng)
            </div>
            <a style="width:500px;height:200px;" id="getlnglat" onclick="GetLngLat()">获取经纬度坐标</a>
        </div>
        <div class="edit-area">
            <div class="edit-lable">纬度：</div>
            <div class="edit-content">
                @Html.TextBoxFor(p=>p.videolat)
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">视频状态:</div>
            <div class="edit-content">
                @Html.DropDownListFor(p=>p.videostatus,videostatusSelectList)                
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">是否开启：</div>
            <div class="edit-content">
                 @Html.DropDownListFor(p=>p.enable,EnableSelectList)   
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">视频所属单位：</div>
            <div class="edit-content">
                @Html.TextBoxFor(p=>p.videounit)
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">访问地址：</div>
            <div class="edit-content">
                @Html.TextBoxFor(p=>p.videoaccess)
            </div>
        </div>
          <div class="edit-area">
            <div class="edit-lable">视频描述：</div>
            <div class="edit-content">
                @Html.TextAreaFor(p=>p.videodesc)
            </div>
        </div>
        <div class ="edit-area">
            <div class="edit-lable"></div>
            <div class="edit-content">
                <input style="margin-left: 80px; width: 70px;height: 30px;" type="submit" value="保存"/>
                <input type="button" value="返回" style="width: 70px;height: 30px;" onclick="BackToVideoList()"/>
            </div>    
         </div>
    }

</div>
<div id="div_dialog" style="display:none">
<iframe id="iframe_map" src="@Url.Action("JTMap","Manager")" onload="mapIframeOnLoad()"></iframe>
</div>
<script type="text/javascript">
    var _v_lng = @Model.videolng;
    var _v_lat = @Model.videolat;
    $(function () {
     
        //if ($("#createtime").val()=="") {
        //    $("#createtime").val();
        //}
        //if ($("#updatetime").val() == "") {
        //    $("#updatetime").val();
        //}
        //if ($("#createby").val()) {
        //    $("#createby").val(555);
        //}
        //if ($("#updateby").val()) {
        //    $("#updateby").val(555);
        //}
    })

    function BackToVideoList() {
        window.location.href = '@Url.Action("VideoList", "Manager")';
    }

    function GetLngLat() {
        $("#div_dialog").dialog({
            title: '经纬度选择',
            width: document.documentElement.clientWidth/2,
            height: document.documentElement.clientHeight/2,
            close: function () {
                $("#getlnglat").show();
            }
        })
        $("#getlnglat").hide();
    }


    function mapIframeOnLoad() {
        if(_v_lng != 0){
            document.getElementById("iframe_map").contentWindow._setCenter(_v_lng,_v_lat);
        }

        document.getElementById("iframe_map").contentWindow.notifyCenterChange = function (center) {
            $("#videolat").val(center.lat);
            $("#videolng").val(center.lng);
        }
        

    }
</script>