@model List<Tuhui.Reception.Model.tv_face>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>南京交通视频监控平台驾驶舱</title>
    @Content.Common(Url, false)
    @Content.Script(Url, "ichart.1.2.min.js")
</head>
<body style="overflow:auto;">
    <div class="face_bg">
    </div>
    <div class="face_main">
        <div class="f_head">南京交通视频监控平台驾驶舱</div>
        <div class="f_area">
            <div class="f_title">我的仪表盘</div>
            <ul class="f_list" id="ul_faceList">
                <li facetype="1" facecontent="" class="scale1">
                </li>
                <li name="toallvideo" facetype="100" facecontent="" class="scale1">
                    <div class="li_subject" subjectid=""><h2>视频数量</h2><p class="li_subject_count" id="videoallcount">523</p><h3>个</h3></div>
                </li>
                <li name="toallvideo" facetype="101" facecontent="" class="scale1">
                    <div class="li_classify" subjectid="">
                        <h2>视频分类</h2>
                        <p>&nbsp;</p>
                        <p><span class="li_classify_title">交通视频数</span><span class="li_classify_count" id="traffic_video_count">180</span><span>个</span></p>
                        <p><span class="li_classify_title">320视频数</span><span class="li_classify_count" id="320_video_count">701</span><span>个</span></p>
                        <p><span class="li_classify_title">省厅视频数</span><span class="li_classify_count" id="st_video_count">65</span><span>个</span></p>
                    </div>
                </li>
                @*<li name="toallvideo" facetype="101" facecontent="" class="scale1">
                        <div class="li_subject" subjectid=""><h2>专题数量</h2><p class="li_subject_count" id="subject_all_count">523</p><h3>个</h3></div>
                    </li>*@
                @foreach (var item in Model)
                {
                    <li facetype="@item.facetype" facecontent="@item.facecontent" class="@(item.facesize ==1?"scale1":"scale2")">
                    </li>
                }
            </ul>
        </div>

        <div class="f_area">
            <div class="f_title">指标分析</div>
            <ul class="f_list" id="ul_statisticList">
                <li class="scale1" onclick=LiSubjectType(1)>
                    <div class="li_subject">
                        <h2>区域指标分析</h2>
                        <p class="li_subject_count"></p>
                        <img src="~/Images/StatisticIcon/d_10.png" style="float: left;margin-top: 73px; margin-left: 5px;" />
                    </div>
                </li>
                <li class="scale1" onclick=LiSubjectType(2)>
                    <div class="li_subject">
                        <h2>来源指标分析</h2>
                        <p class="li_subject_count"></p>
                        <img src="~/Images/StatisticIcon/d_12.png" style="float: left;margin-top: 73px; margin-left: 5px;" />
                    </div>
                </li>
                @*<li class="scale1" onclick=LiSubjectType(3)>
                    <div class="li_subject">
                        <h2>视频有效率</h2>
                        <p class="li_subject_count"></p>
                        <img src="~/Images/StatisticIcon/d_14.png" style="float: left;margin-top: 73px; margin-left: 5px;" />
                    </div>
                </li>*@
                <li class="scale1" onclick=LiSubjectType(4)>
                    <div class="li_subject">
                        <h2>专题视频分析</h2>
                        <p class="li_subject_count"></p>
                        <img src="~/Images/StatisticIcon/d_16.png" style="float: left;margin-top: 73px; margin-left: 5px;" />
                    </div>
                </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
        <br />
        <br />
        <br />
    </div>
    <script>
        function LiSubjectType(type) {
            window.location.href = ACTION_URL("Statistic", "Home") + "?statistictype=" + type;
        }
        window.onresize = _onResize;

        _onResize();
        var SubjectCountDIC = {};
        $(function () {
            //获取交通局和320视频个数 response.data1
            //获取每个专题数实时视频数 response.data
            //专题视频总数 response.data2
            $.L.ajaxHandle({
                type: "post",
                cache: "false",
                async: "false",
                url: ACTION_URL("GetParentSubjectVideoCount", "Manager"),
                error: function () {
                    alert("error");
                },
                success: function (response) {
                    $("#traffic_video_count").html(response.data1.split(",")[0]);
                    $("#320_video_count").html(response.data1.split(",")[1]);
                    //$("#st_video_count").html(response.data1.split(",")[2]);
                    $("#videoallcount").html(parseInt(response.data1.split(",")[0]) + parseInt(response.data1.split(",")[1]) + parseInt(response.data1.split(",")[2]));
                    $("#subject_all_count").html(response.data2);
                    //根据页面li的subjectid来循环搜索ajax返回的数值进行赋值

                    for (var i = 0; i < response.data.length; i++) {
                        SubjectCountDIC["s_id_" + response.data[i].name] = response.data[i].value;
                    }


                    $("#ul_faceList li div").each(function () {
                        var subjectid = $(this).attr("subjectid");
                        if (subjectid) {

                            var _arrids = subjectid.split(',');
                            var _count = 0;
                            for (var j = 0; j < _arrids.length; j++) {

                                if (SubjectCountDIC["s_id_" + _arrids[j]]) {
                                    _count += parseInt(SubjectCountDIC["s_id_" + _arrids[j]]);
                                }
                            }
                            $(this).find("p").html(_count);

                            //for (i = 0; i < response.data.length; i++) {
                            //    if (subjectid == response.data[i].name) {
                            //        $(this).find("p").html(response.data[i].value);
                            //    }
                            //}
                        }
                    })
                }
            });

            //_ichart1Init();
            //_ichart2Init();
            $("#ul_faceList li").each(function () {
                var f_type = $(this).attr("facetype");
                var f_content = $(this).attr("facecontent");

                if (f_type == "1") {
                    _initFace1($(this));
                } else if (f_type == "2") {
                    _initFace2($(this), JSON.parse(f_content));
                } else if (f_type == "3") {
                    _initFace3($(this), JSON.parse(f_content));
                } else if (f_type == "4") {
                    _initFace4($(this), JSON.parse(f_content));
                }
            });
            _init_li_timetick();
            _init_li_subject_count();
            _init_li_subject_linkEvent();
        })

        function _initFace1(liObj) {
            liObj.html('<div class="li_time"><h2>12:41</h2><p>8月12日 星期二</p></div>');
        }

        function _initFace2(liObj, data) {
            liObj.html('<div class="li_subject" subjectid="' + data.subjectid + '" subjectname="' + data.subjectname + '"><h2>' + data.subjectname + '</h2><p class="li_subject_count">' + data.videocount + '</p><h3>个</h3></div>');
        }

        function _initFace3(liObj, data) {
            liObj.html('<div class="li_images"><img src="' + CONTENT_URL('images/face/' + data.imgName) + '"/></div>');
        }

        function _initFace4(liObj, data) {
            liObj.html('<div class="li_images"><img onclick="showType4_Video(this)" videourl="' + data.videourl + '"  src="' + CONTENT_URL('images/faceImg/videoface.png') + '"/></div>');
        }

        function _onResize() {
            $("body").css({
                height: document.documentElement.clientHeight + "px"
            })
        }

        function _init_li_timetick() {
            if ($("#ul_faceList .li_time").length == 0) return;
            _getTime();

            function _getTime() {
                var weekArray = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
                var _date = new Date();
                var _hour, _minite, _second, _month, _day, _week;
                _hour = _pad0(_date.getHours());
                _minite = _pad0(_date.getMinutes());
                _second = _pad0(_date.getSeconds());
                _month = _date.getMonth() + 1;
                _day = _date.getDate();
                _week = weekArray[_date.getDay()];

                $("#ul_faceList .li_time").each(function () {
                    $(this).html('<h2>' + _hour + ':' + _minite + '</h2><span>' + _second + '</span><p>' + _month + '月' + _day + '日 ' + _week + '</p>');
                })

                setTimeout(_getTime, 1000);

            }

            function _pad0(v) {
                if (v >= 10) return v;
                return "0" + v;
            }
        }

        function _init_li_subject_count() {
            $("#ul_faceList p.li_subject_count").each(function (index, ele) {
                if (index == 1) {
                    $(this).css({ "color": "rgb(253,185,18)" });
                } else if (index == 2) {
                    $(this).css({ "color": "rgb(255,122,96)" });
                }
            })
        }

        function _init_li_subject_linkEvent() {

            $("#ul_faceList .li_subject").click(function () {
                if (!$(this).attr("subjectid")) return;
                location.href = ACTION_URL("Index", "Video") + "?s_id=" + $(this).attr("subjectid") + "&s_name=" + $(this).attr("subjectname");
            })

            $("li[name='toallvideo']").click(function () {
                location.href = ACTION_URL("Index", "Video");
            })

        }

        function showType4_Video(obj) {
            var _url = $(obj).attr("videourl");

            if (_url.indexOf("http") == -1) {
                _url = ACTION_URL("YCVLC", "Video") + "?c_id=" + _url;
            }

            $("body").append('<div onclick="$(this).remove();" style="position:absolute;width:100%;height:100%;left:0px;top:0px;background-color:rgba(0,0,0,.6);">'
                + '<iframe src="' + _url + '" style="position:absolute;border:10px solid #fff;border-radius:10px;width:500px;height:375px;left:50%;top:50%;margin-left:-250px;margin-top:-187px;"></iframe>'
                + '</div>');

        }
    </script>
</body>
</html>
