<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>南京交通视频监控平台驾驶舱</title>
    @Content.Common(Url,true)
    @Content.zTree(Url)
</head>
<body>
    <div class="layout_head">
        <div class="sitetitle"></div>
        <div class="userstate"><span>管理员,</span>&nbsp;&nbsp;&nbsp;@Html.ActionLink("注销", "logout", new { controller = "ReceptionManager" })</div>
    </div>
    <div class="layout_left">
        <div class="menu_head"></div>
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div class="layout_right">
        @RenderBody()
    </div>
    <script>

        var _menuKey = "@ViewBag.MenuKey";

        window.onresize = _onResize;

        _onResize();

        //左侧菜单

        var setting = {};

        var zNodes = [
			{
			    name: "综合应用",
			    children: [
					{
					    name: "接待资源",
					    children: [
							{ id: "ResourceType", name: "资源分类管理", url: ACTION_URL("ResourceType", "ReceptionManager"), target: "_self" },
							{ id:"Resource",name: "资源管理", url: ACTION_URL("Resource", "ReceptionManager"), target: "_self" },
							{ id: "ResourceEvent", name: "大事件管理", url: ACTION_URL("ResourceEvent", "ReceptionManager"), target: "_self" },
							{ id: "Navigation", name: "导航管理", url: ACTION_URL("Navigation", "ReceptionManager"), target: "_self" }
					    ]
					}
			    ]
			}
        ];

        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);

            if (_menuKey) {
                //展开
                var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                var node = treeObj.getNodeByParam("id", _menuKey);
                if (node) {
                    treeObj.selectNode(node, false);
                }
            }
        });


        function _onResize() {
            $("body").css({
                height: document.documentElement.clientHeight + "px"
            })

            $(".layout_left,.layout_right").css({
                height: document.documentElement.clientHeight - $(".layout_head").height()
            })

            $(".layout_right").css({
                width: document.documentElement.clientWidth - $(".layout_left").width() + "px"
            })
        }
    </script>
    @RenderSection("script",false)
</body>
</html>
