
@model Tuhui.Reception.Model.Reception_Resource
@{
    ViewBag.Title = "ResourceAdd";
    ViewBag.MenuKey = "Resource";

    List<SelectListItem> list = new List<SelectListItem> {
        new SelectListItem { Text = "--请选择--", Value = "0",Selected = true},
        new SelectListItem { Text = "未开工", Value = "1" },
        new SelectListItem { Text = "已开工", Value = "2" },
        new SelectListItem { Text = "已投产", Value = "3" }  
    };
}

<div class="layout-content-head">
    <h2>@ViewBag.TitleName</h2>
</div>
<div style="text-align:left;margin-left:50px;">
    @using (Html.BeginForm("ResourceModify", "ReceptionManager"))
    {
        @Html.HiddenFor(p => p.R_ID)
        
        @Html.Hidden("imageList");
        @Html.Hidden("videoList");

        <div class="edit-area">
            <div class="edit-lable"><font color="red">*</font>资源名称:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.Name, htmlAttributes: new { maxlength = 50 })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable"><font color="red">*</font>资源分类:</div>
            <div class="edit-content">
                @Html.DropDownListFor(p => p.RT_ID, ViewData["resourceTypeList"] as SelectList)
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable"><font color="red">*</font>所属街道:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.SSJD)
            </div>
        </div>
        
        <div class="edit-area">
            <div class="edit-lable"><font color="red">*</font>经度:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.Long, htmlAttributes: new { maxlength = 50 })
            </div>
            <a style="width:500px;height:200px;" id="getlnglat" onclick="GetLngLat()">获取经纬度坐标</a>
        </div>
        <div class="edit-area">
            <div class="edit-lable"><font color="red">*</font>纬度:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.Lat, htmlAttributes: new { maxlength = 50 })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">责任单位:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.RRDW, htmlAttributes: new { maxlength = 50 })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">施方单位:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.SFDW, htmlAttributes: new { maxlength = 50 })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">开工时间:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.StartTime, new { onClick = "WdatePicker({readOnly:true,dateFmt:'yyyy/MM/dd HH:mm:ss'})", @class = "Wdate", style = "width:180px;" })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">计划完成时间:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.EndTime, new { onFocus = "WdatePicker({readOnly:true,dateFmt:'yyyy/MM/dd HH:mm:ss'})", @class = "Wdate", style = "width:180px;" })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">项目内容:</div>
            <div class="edit-content">
                @Html.TextAreaFor(p => p.Content, new { rows = "30", cols = "50" })
                <script type="text/javascript">CKEDITOR.replace('Content');</script>
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable"><font color="red">*</font>项目状态:</div>
            <div class="edit-content">
                @Html.DropDownListFor(p => p.RStatus, list) 
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">项目图片:</div>
            <div class="edit-content">
                <div id="fileQueue_img"></div>
                <input type="file" name="uploadify_img" id="uploadify_img" />
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">项目视频:</div>
            <div class="edit-content">
                <div id="fileQueue_video"></div>
                <input type="file" name="uploadify_video" id="uploadify_video" />
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable"></div>
            <div class="edit-content">
                <input style="margin-left: 80px; width: 70px;height: 30px;" type="submit" value="保存" onclick="return save();" />
                <input type="button" value="返回" style="width: 70px;height: 30px;" onclick="BackTo()" />
            </div>
        </div>
    }

</div>
<div id="div_dialog" style="display:none">
    <iframe id="iframe_map" src="@Url.Action("JTMap", "ReceptionManager")" onload="mapIframeOnLoad()"></iframe>
</div>
<script type="text/javascript">
    var _lng = "@Model.Long";
    var _lat = "@Model.Lat";
    if(_lng == ""){
        _lng = 0;
    }else{
        _lng = parseFloat(_lng);
    }
    if(_lat == ""){
        _lat = 0;
    }else{
        _lat = parseFloat(_lat);
    }

    function BackTo() {
        window.location.href = '@Url.Action("Resource", "ReceptionManager")';
    }

    function GetLngLat() {
        $("#div_dialog").dialog({
            title: '经纬度选择',
            width: document.documentElement.clientWidth / 2,
            height: document.documentElement.clientHeight / 2,
            close: function () {
                $("#getlnglat").show();
            }
        })
        $("#getlnglat").hide();
    }

    function mapIframeOnLoad() {
        if (_lng != 0) {
            document.getElementById("iframe_map").contentWindow._setCenter(_lng,_lat);
        }

        document.getElementById("iframe_map").contentWindow.notifyCenterChange = function (center) {
            $("#Long").val(center.lng);
            $("#Lat").val(center.lat);
        }
    }

    $(document).ready(function () {
        //上传图片
        $("#uploadify_img").uploadify({
            'swf': "@Url.Content("~/Scripts/uploadify/uploadify.swf")",
            'uploader': '@Url.Content("~/ASHX/UploadHandler.ashx")',
            'formData':
                {
                    'folder': '@Url.Content("~/UploadFile/Image")'
                },
            'buttonText': '选择图片',
            'fileTypeExts': '*.png;*.gif;*.jpg;*.bmp;*.jpeg',
            'fileTypeDesc': '图片文件(*.png;*.gif;*.jpg;*.bmp;*.jpeg)',
            'onUploadSuccess': function (file, data, response) {
                var data = eval("(" + data + ")");
                var str = "<div data-path='" + data.datetime + "/" + data.filename + "'>" + data.filename + "&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='$(this).parent().remove();'>删除</a></div>";

                $("#fileQueue_img").append(str);
            }
        });

        //上传视频
        $("#uploadify_video").uploadify({
            'swf': "@Url.Content("~/Scripts/uploadify/uploadify.swf")",
            'uploader': '@Url.Content("~/ASHX/UploadHandler.ashx")',
            'formData':
                {
                    'folder': '@Url.Content("~/UploadFile/Video")'
                },
            'buttonText': '选择视频',
            'fileTypeExts': '*.mp4',
            'fileTypeDesc': '视频文件(*.mp4)',
            'onUploadSuccess': function (file, data, response) {
                var data = eval("(" + data + ")");
                var str = "<div data-path='" + data.datetime + "/" + data.filename + "'>" + data.filename + "&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='$(this).parent().remove();'>删除</a></div>";

                $("#fileQueue_video").append(str);
            }
        });

        
        var pid = "@Model.R_ID";
        if (pid) {
            //编辑页面获取图片
            $.ajax({
                type: "get",
                cache: "false",
                async: false,
                url: ACTION_URL("ResourceImageList", "ReceptionManager"),
                data: {
                    id: pid
                },
                success: function (response) {
                    if (response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            var str = "<div data-path='" + response[i].ImagePath + "'>" + response[i].ImagePath.substring(response[i].ImagePath.indexOf("/") + 1) + "&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='$(this).parent().remove();'>删除</a></div>";

                            $("#fileQueue_img").append(str);
                        }
                    }
                }
            });
            //编辑页面获取视频
            $.ajax({
                type: "get",
                cache: "false",
                async: false,
                url: ACTION_URL("ResourceVideoList", "ReceptionManager"),
                data: {
                    id: pid
                },
                success: function (response) {
                    if (response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            var str = "<div data-path='" + response[i].VideoPath + "'>" + response[i].VideoPath.substring(response[i].VideoPath.indexOf("/") + 1) + "&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='$(this).parent().remove();'>删除</a></div>";

                            $("#fileQueue_video").append(str);
                        }
                    }
                }
            });
        }
    });

    function save()
    {
        //验证
        var name = $.trim($("#Name").val());
        if (name.length == 0)
        {
            $.L.messageWarningT('资源名称不能为空');
            return false;
        }
        var RT_ID = $("#RT_ID").val();
        if (RT_ID.length == 0)
        {
            $.L.messageWarningT('请选择资源分类');
            return false;
        }
        var SSJD = $.trim($("#SSJD").val());
        if (SSJD.length == 0)
        {
            $.L.messageWarningT('所属街道不能为空');
            return false;
        }
        var Long = $.trim($("#Long").val());
        if (Long.length == 0) {
            $.L.messageWarningT('经度不能为空');
            return false;
        }
        var Lat = $.trim($("#Lat").val());
        if (Lat.length == 0) {
            $.L.messageWarningT('纬度不能为空');
            return false;
        }
        var RStatus = $("#RStatus").val();
        if (RStatus == "0")
        {
            $.L.messageWarningT('请选择项目状态');
            return false;
        }

        //获取图片
        var imageList = "";
        $("#fileQueue_img div").each(function(index,value){
            imageList += $(this).attr("data-path") + "|";
        });
        if (imageList.length > 0) {
            imageList = imageList.substring(0,imageList.lastIndexOf("|"));
        }
        $("#imageList").val(imageList);

        //获取视频
        var videoList = "";
        $("#fileQueue_video div").each(function (index, value) {
            videoList += $(this).attr("data-path") + "|";
        });
        if (videoList.length > 0) {
            videoList = videoList.substring(0,videoList.lastIndexOf("|"));
        }
        $("#videoList").val(videoList);
        
        return true;
    }
</script>



