
@model Tuhui.Reception.Model.Reception_ResourceEvent
@{
    ViewBag.Title = "ResourceEventAdd";
    ViewBag.MenuKey = "ResourceEvent";
}

<div class="layout-content-head">
    <h2>@ViewBag.TitleName</h2>
</div>
<div style="text-align:left;margin-left:50px;">
    @using (Html.BeginForm("ResourceEventModify", "ReceptionManager"))
    {
        @Html.HiddenFor(p => p.RE_ID)

        <div class="edit-area">
            <div class="edit-lable">大事件名称:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.Name, htmlAttributes: new { maxlength = 50 })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">资源名称:</div>
            <div class="edit-content">
                @Html.DropDownListFor(p => p.R_ID, ViewData["resourceEventList"] as SelectList)
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">大事件内容:</div>
            <div class="edit-content">
                <textarea rows="30" cols="50" name="Content">请输入.</textarea>
                <script type="text/javascript">CKEDITOR.replace('Content');</script>
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable"></div>
            <div class="edit-content">
                <input style="margin-left: 80px; width: 70px;height: 30px;" type="submit" value="保存" />
                <input type="button" value="返回" style="width: 70px;height: 30px;" onclick="BackTo()" />
            </div>
        </div>
    }

</div>

<script type="text/javascript">

    function BackTo() {
        window.location.href = '@Url.Action("ResourceEvent", "ReceptionManager")';
    }
</script>



