@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>南京交通视频监控平台驾驶舱</title>
    @Content.Common(Url, false)
    @Content.tmap(Url)
    <script src="@Url.Content("~/Scripts/demo_app_YCVideo.js")"></script>
    <script src="@Url.Content("~/Scripts/demo_SubjectList.js")"></script>
    <script src="@Url.Content("~/Scripts/tv_video.js")"></script>
</head>
<body>
    <div class="video_head">
        <div class="v_title">南京交通视频监控平台驾驶舱</div>
    </div>
    <div class="video_map" id="map"></div>
    @Html.Partial("_PartialVideoSubject2")
    @Html.Partial("_PartialVideoList")
    <script>
        $(function () {

            window.onresize = _onResize;

            _onResize();

            $.tv.mapInit();
            $.tv.dataInit();

        })

        function _onResize() {
            $("body").css({
                height: document.documentElement.clientHeight + "px"
            })
            $(".video_map,.video_menu,.video_list").css({
                "height": document.documentElement.clientHeight - 45 + "px"
            })
        }

    </script>
</body>
</html>
