@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <title></title>
    @Content.Common(Url, false)
    
</head>
<body style="background-color: #000;">
    <div id="main" style="position: absolute; left: 0px; top: 0px;">

    </div>
    <div id="message" style="color: #fff; position: absolute; z-index: 101; bottom: 0px; left: 0px; width: 100%; height: 30px; line-height: 30px;">
    </div>
    <script type="text/javascript">
        var CameraID = '@Request["c_id"]';
        var player;
        var hasPlayed = false;
        function setSize() {
            $("body,#main,#vlc").css({
                width: document.documentElement.clientWidth + "px",
                height: document.documentElement.clientHeight + "px"
            })
            $("#message").css({
                'top': (document.documentElement.clientHeight / 2 - 15) + "px"
            })
        }


        $(function () {
            setSize();
            window.onresize = setSize;
            $("#main").css({ "left": "10000px" });
            //$(".p_loading").css({
            //    'top': (document.documentElement.clientHeight - 64) / 2 + "px",
            //    'left': (document.documentElement.clientWidth - 64) / 2 + "px"
            //})
            $("#message").hide();

            if (CameraID == '') {
                showMessage("设备ID缺失");
            } else {
                playVideoST(CameraID);
            }
        })

        function showMessage(msg) {
            $(".p_loading").hide();
            $("#message").html(msg).show();
        }

        function playVideoST(_cameraId) {
            showMessage("正在获取视频流地址....");
            $.ajax({
                type: 'GET',
                url: '@Url.Action("STVIDEO2_GetUrl", "Video")',
                dataType: 'text',
                cache: false,
                data: {
                    cameraId: _cameraId
                },
                error: function (info) {
                    showMessage(info.status);
                },
                success: function (response) {
                    if (response.indexOf("error") != -1) {
                        showMessage("视频流地址获取失败");
                    } else {
                        var array = response.split('@@');
                        var str = "<object width='" + document.documentElement.clientWidth + "' height='" + document.documentElement.clientHeight + "' id='videoPlayer' name='videoPlayer' type='application/x-shockwave-flash'";
                        str = str + " classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' >";
                        str = str + " <param name='movie' value='@Url.Content("~/Scripts/STVIDEO/videoPlayer.swf")' /> <param name='quality' value='high' /> ";
                        str = str + " <param name='bgcolor' value='#000000' /> <param name='allowfullscreen' value='true' /> ";
                        str = str + " <param name='flashvars'value='&videoWidth=0&videoHeight=0&dsControl=manual&dsSensitivity=100";
                        str = str + " &DS_Status=true&streamType=live&autoStart=true&";
                        str = str + "serverURL=" + array[1];
                        str = str + "'><embed src='@Url.Content("~/Scripts/STVIDEO/videoPlayer.swf")' width='" + document.documentElement.clientWidth + "' height='" + document.documentElement.clientHeight + "' id='videoPlayer' quality='high' bgcolor='#000000'";
                        str = str + " name='videoPlayer' allowfullscreen='true' ";
                        str = str + " pluginspage='http://www.adobe.com/go/getflashplayer' ";
                        str = str + " flashvars='&videoWidth=0&videoHeight=0&dsControl=manual&dsSensitivity=100&DS_Status=true&streamType=live&autoStart=true&";
                        str = str + "serverURL=" + array[1];
                        str = str + "' type='application/x-shockwave-flash'> </embed></object>";
                        $('#main').html(str);
                        $("#message").hide();
                        $("#main").css({ "left": "0px" });
                    }
                }
            })
        }

        function playVideoST2(_cameraId) {
            showMessage("正在获取视频流地址....");
            ajax_request("http://10.1.30.157:8123/" + _cameraId, _done);

            function _done(response) {
                if (response == '') {
                    showMessage("视频流地址获取失败");
                }else if (response.indexOf("error") != -1) {
                    showMessage("视频流地址获取失败");
                } else {
                    var array = response.split('@@');
                    var str = "<object width='" + document.documentElement.clientWidth + "' height='" + document.documentElement.clientHeight + "' id='videoPlayer' name='videoPlayer' type='application/x-shockwave-flash'";
                    str = str + " classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' >";
                    str = str + " <param name='movie' value='@Url.Content("~/Scripts/STVIDEO/videoPlayer.swf")' /> <param name='quality' value='high' /> ";
                    str = str + " <param name='bgcolor' value='#000000' /> <param name='allowfullscreen' value='true' /> ";
                    str = str + " <param name='flashvars'value='&videoWidth=0&videoHeight=0&dsControl=manual&dsSensitivity=100";
                    str = str + " &DS_Status=true&streamType=live&autoStart=true&";
                    str = str + "serverURL=" + array[1];
                    str = str + "'><embed src='@Url.Content("~/Scripts/STVIDEO/videoPlayer.swf")' width='" + document.documentElement.clientWidth + "' height='" + document.documentElement.clientHeight + "' id='videoPlayer' quality='high' bgcolor='#000000'";
                    str = str + " name='videoPlayer' allowfullscreen='true' ";
                    str = str + " pluginspage='http://www.adobe.com/go/getflashplayer' ";
                    str = str + " flashvars='&videoWidth=0&videoHeight=0&dsControl=manual&dsSensitivity=100&DS_Status=true&streamType=live&autoStart=true&";
                    str = str + "serverURL=" + array[1];
                    str = str + "' type='application/x-shockwave-flash'> </embed></object>";
                    $('#main').html(str);
                    $("#message").hide();
                    $("#main").css({ "left": "0px" });
                }
            }
        }

        function ajax_request(url, deal) {
            var http_request = null;
            try {
                http_request = new ActiveXObject("Microsoft.XMLHTTP");
            }
            catch (e) {
                try {
                    http_request = new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e) {
                    showMessage(e);
                }
            }
            if (!http_request) {
                return;
            }
            var arr = url.split("?");
            if (arr.length == 1) {
                url = url + "?timestamp=" + new Date().getTime();
            } else {
                url = url + "&timestamp=" + new Date().getTime();
            }
            http_request.open("get", url, "false");
            //setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=gbk');
            http_request.onreadystatechange = function () {
                if (4 == http_request.readyState) {
                    if (200 == http_request.status) {
                        deal(http_request.responseText);
                    } else {
                        if (500 == http_request.status) {
                            alert("\u8fde\u63a5\u4e0d\u4e0a\u6570\u636e\u5e93\u6216\u7cfb\u7edf\u5185\u90e8\u53d1\u751f\u9519\u8bef\uff01");
                        } else {
                            if (400 == http_request.status) {
                                alert("\u627e\u4e0d\u5230\u8def\u5f84");
                            } else {
                                alert(http_request.status);
                            }
                        }
                    }
                }
            };
            http_request.setRequestHeader("If-Modifyed-Since", "0");
            http_request.send(null);
        }
    </script>

</body>
</html>